@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@import "tailwindcss";


@theme {
    --color-Dark-Grayish-Magenta: #511F50;
    --color-Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --color-White: hsl(0, 0%, 100%;);
    --color-Soft-Pink: hsl(333, 80%, 67%);
    --font-league: 'League Spartan', sans-serif;
  }
  